{% extends "base.twig" %}
{% block content %}
<div class="card mt-3 d-block mx-auto" style="max-width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Il tuo file è stato caricato con successo.</h5>
    <p class="card-text alert alert-success">Il tuo file è stato inviato al motore OCR per la scansione. Solitamente questo processo richiede circa 2 minuti. Clicca sul pulsante qui in basso per vedere i risultati.</p>
    <a href="./risultati.php"class="btn btn-primary">Guarda i risultati</a>
  </div>
</div>
{% endblock %}