{% extends "base.twig" %}
{% block content %}
    <div class="row">
        <div class="col">
            <h5 class="h3">Risultati scansioni effettuate</h5>
        </div>
    </div>
    <div class="row">
        {{ risultati | raw }}
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="./risultati.php" class="btn btn-primary">Ricarica la pagina</a>
        </div>
    </div>
{% endblock %}